<ng-container>
    <button mat-raised-button color="primary" (click)='get404Error()'>Create a 404 Error</button>
    <button mat-raised-button color="primary" (click)='get400Error()'>Create a 400 Error</button>
    <button mat-raised-button color="primary" (click)='get500Error()'>Create a 500 Error</button>
    <button mat-raised-button color="primary" (click)='get401Error()'>Create a 401 Error</button>
    <button mat-raised-button color="primary" (click)='get400ValidationError()'>Create a 400 Validation Error</button>
</ng-container>