/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Josefin+Sans:wght@300;329&display=swap");
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
html,
body {
  height: 100%;
  width: auto;
  scroll-behavior: smooth;
}
body {
  margin: 0%;
}
* {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
}
/*Text Code*/
.text-center {
  text-align: center;
}
.deco-text {
  color: #97ad53;
}
.text-bold {
  font-weight: 400;
}
.text-white {
  color: #ffffff;
  font-weight: 700;
}
.support-text {
  margin-top: -15px;
  display: block;
  padding-bottom: 15px;
}
.text-danger {
  color: #e15738;
}
.text-info {
  margin-top: 1rem;
  color: #1e88e5;
}
.green-light {
  color:  #97ad53;
}
.label {
  color: #b0b1ad;
}
.hard-label {
  color: rgb(0 0 0 / 54%);
}
.text-uppercase {
  text-transform: uppercase;
}
.text-muted {
  color: #99abb4 !important;
}


/*Margin Code*/
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-0 {
  margin-top: 0;
}
.m-t-5 {
  margin-top: 5 !important;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-b-1 {
  margin-bottom: 1%;
}
/*Padding Code*/
.p-10 {
  padding: 10px;
}
.p-d-15 {
  padding-left: 15px;
}
.p-d-20 {
  padding-left: 20px;
}


/*Background Code*/
.bg-danger {
  background-color: #e15738 !important;
}
.bg-green {
  background-color: #97ad53 !important;
}
.bg-green-light {
  background-color: #A9BEA5 !important;
}


/*Button Code*/
.btn-block {
  display: block;
  width: 100%;
}
.btn-lg {
  line-height: 48px !important;
}

/*Specific Component Code*/
.authentication-layout {
  height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
  background-image: url(/assets/images/background/login-register.jpg);
}
.authentication-layout-box {
  min-width: 350px;
  margin: 0 auto;
  vertical-align: middle;
}
.error-card h1 {
  font-size: 210px;
  font-weight: 900;
  line-height: 210px;
  margin: 0px;
  text-shadow: 4px 5px 1px #b3bbbf;
}

/*Global Code*/
.container {
  margin-top: 6%;
  margin-left: 1%;
} 
.b-c-p {  
  cursor: pointer !important;
}
.logo-icon {
  font-size: 30px;
}
.mat-drawer-content {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.mat-drawer-content::-webkit-scrollbar {
  display: none;
}