.example-container {
  width: auto;
  height: 100%;
}
#mat-menu-button {
  justify-content: space-between !important;
  margin-left: auto !important;
}
.mat-toolbar-multiple-rows {
  display: flex;
  box-sizing: border-box;
  padding: 0 15px 0 25px;
  z-index: 3;
  top: 0;
  align-items: center;
  position: fixed;
  flex-direction: column;
  width: 100%;
}
